.dash {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  user-select: none;
}
.heading {
  background-color: #202846;
  color: white;
}
.heading h1 {
  margin: 0;
  font-size: 24px;
  padding: 10px;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: row;
  color: #202846;
  margin: 10px;
  border-radius: 10px;
  border: 10px;
  border-color: #3ec0bb;
  box-shadow: 2px 2px 4px #000000;
  padding: 10px;
}
.card img {
  height: 150px;
  width: 150px;
  padding: 10px;
}
.cardtext {
  padding-left: 100px;
}
@media only screen and (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card img {
    padding: 0px;
  }
  .cardtext {
    padding: 10px;
    text-align: center;
  }
}

label {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  /* letter-spacing: 0.185rem; */
  font-style: normal;
  text-transform: uppercase;
  color: #ef2d56;
  background-color: #ffffff;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  padding: 0.35rem 0.75rem;
  border-style: outset;
  border-width: 0.25rem;
  border-color: #ef2d56;
  -webkit-box-shadow: 7px 5px 3px 3px rgba(51, 51, 51, 0.32);
  -moz-box-shadow: 7px 5px 3px 3px rgba(51, 51, 51, 0.32);
  -box-shadow: 7px 5px 3px 3px rgba(51, 51, 51, 0.32);
}
