footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #eeaeca;
  font-family: "Baskervville", serif;
  user-select: none;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  border-color: #545454;
}

#button-addon2 {
  background-color: #eeaeca;
  border-color: #eeaeca;
}

footer {
  /* background: #212529; */
  background: #202846;
}
