.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212529;
  padding: 10px 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.swal2-title {
  font-family: "Anuphan", sans-serif;
  font-weight: 700;
}

.swal2-html-container {
  font-family: "Anuphan", sans-serif;
  font-weight: 700;
}

.logo img {
  width: 30%;
  height: 100%;
  margin-left: 20px;
  mix-blend-mode: darken;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-link {
  margin-right: 50px;
}

.navbar-link a {
  text-decoration: none;
  color: #212529;
  transition: color 0.3s ease;
}

.navbar-link a:hover {
  color: #94bbe9;
}

.navbar-container {
  display: flex;
  margin-right: 20px;
}

/* Navbar user section (profile and login/logout) */
.navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
