.signin{
    background: radial-gradient(circle, #eeaeca 0%, rgba(148, 187, 233, 1) 100%);
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.signin-cards {
    display: flex;
    flex-direction: column;
  }
.signin-card {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    color: #202846;
    background: white;
    margin: 20px;
    border-radius: 10px;
    border: 10px;
    border-color: #3ec0bb;
    box-shadow: 2px 2px 4px #000000;
    padding: 10px;
  }
  .signin h1{
    font-size: 40px;
  }
  .signin-card img {
    height: 150px;
    width: 150px;
    padding: 10px;
  }
.signin-cardtext {
    padding: 10px;
    text-align: center;
  }
  .signin-buttons{
    display: flex;
    justify-content: space-around;
  }
input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.signin input{
    width: 300px;
    margin: 0px;
}

@media only screen and (min-width: 800px) {
    .signin-card{
        width: 600px;
        margin: 60px auto;
    }
}